body{

}
/** bloc du haut  **/
.row top{
    margin-top: 10px;
}

#blocTop{
    margin-top: 10px;
}
.avatar img{
    width: 200px;
    height: 300px;
}
.contact p{
    display: inline-block;

}

/** bloc milieu **/