body {
    background-color: #eae8e7;
    color: #767270;
    height: 1500px;
}
/** bloc du haut  **/
.row top{
    margin-top: 10px;
}

#blocTop{

    margin-top: 10px;
    background-color: white;
    height: 400px;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.avatar {
    margin-top: 20px;
    width: 200px;
    height: 300px;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    line-height: 17pt;
}
.contact{
position: relative;
    top:50px;
    height: 300px;
    padding-left:30px;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    background-color: #07cb79;
}
.contact p{
    margin-top: 35px;
    color: lightyellow;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    line-height: 17pt;
}

/** bloc milieu **/
#blocmid{
    margin-top: 10px;
    background-color: white;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    height: 270px;

}
.blocExperiance{
    display: inline-block;

}
.blocExperiance h2 {
    display: inline-block;
    color: #0f0f0f;
}
.blocExperiance h4 {
    font-size: 20px;
}
.logo img{
    margin-top: 80px;
    margin-left: 50px;
    height: 80px;
    width: 80px;
}